h2 {
  font-size: 3rem;
}

p {
  color: var(--Slightly-transparent-white-p);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.image-container {
  min-height: 350px;
}

.image-container .image {
  min-height: 350px;
}

.info-title {
  margin: 0px 30px;
  margin-bottom: 40px;
}

.info .info-title h1 {
  font-size: 4rem;
  margin: 0;
}

.info-description {
  width: 400px;
  margin: 0 30px;
  margin-bottom: 65px;
}

.info .info-title p {
  margin-top: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 50px;
  background: var(--Dark-desaturated-blue);
  text-align: center;
  color: white;
}

.info-features {
  display: flex;
  max-width: 400px;
  margin: 0 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

